<div class="row">
  <div class="col-md-offset-1 col-md-10">
    
    <div class="form-group row">
      <label class="col-md-2">Name</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="" [(ngModel)]="Name">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2">Email</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="" [(ngModel)]="Email">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">Address</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="" [(ngModel)]="Address">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">Phone Number</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="" [(ngModel)]="PhoneNumber">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">Company Name</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="" [(ngModel)]="CompanyName">
      </div>
    </div>
    
    <div class="form-group row">
      <label class="col-md-2">
      </label>
      <div class="col-md-10">
        <button class="btn btn-success" (click)="addUser()">Add User</button>
      </div>
    </div>

  </div>
</div>