<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-striped">
      <tr>
        <th>
          <input type="checkbox">
        </th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Company</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let u of userList" >
        <td>
          <input type="checkbox">
        </td>
        <td>{{ u.Name }}</td>
        <td>{{ u.Email }}</td>
        <td>{{ u.Address }}</td>
        <td>{{ u.Company }}</td>
        <td>
          <button class="btn btn-danger" (click)="removeUser(u.Name)" >Remove</button>
        </td>
      </tr>
    </table>
  </div>  
</div>